@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  position: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  background: #f8f8f8;
}

header {
  background-color: #eeeeee;
  width: 100%;
  position: fixed;
  z-index: 999;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 200px;
}

.logo {
  text-decoration: none;
  color: #a0a0a0;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1.8em;
}

.logo:hover {
  color: #a0a0a0;
  text-decoration: none;
}

.navigation a {
  color: #b7b5b7;
  text-decoration: none;
  font-size: 1.1em;
  font-weight: 500;
  padding-left: 30px;
}

.navigation a:hover {
  color: #a0a0a0;
}

section {
  padding: 100px 200px;
}

.main {
  width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
}

.main h2 {
  color: #000;
  font-size: 3.4em;
  font-weight: 500;
}

.main img {
  padding-left: 12em;
}

.social-icons a {
  color: #adadad;
  font-size: 1.7em;
  padding-right: 30px;
}

footer {
  background-color: #f5f5f5;
  color: #000;
  padding: 2em;
  display: flex;
  justify-content: space-between;
}

.footer-title {
  font-size: 1.3em;
  font-weight: 600;
}

@media (max-width: 1023px) {
  header {
    padding: 10px 20px;
  }

  .navigation a {
    padding-left: 10px;
  }

  section {
    padding: 80px 20px;
  }
}
@media (max-width: 641px) {
  body {
    font-size: 12px;
  }
}

@media (max-width: 300px) {
  body {
    font-size: 10px;
  }
}
